// ==============================
// Override Variables
// ==============================

$global-link-color: #004E87;
$single-link-color:#004E87;

$global-link-hover-color:#2d96bd;
$single-link-hover-color:#2d96bd;